/***************************************************************************/
/* The bits that you probably want to override! */
body {
    font-size: 36px;
    font-family: "Helvetica", "Arial", "Liberation Sans", sans-serif;
    color: black;
    background-color: #333; /* Colour outside of slide */
}

div.presentation, div.slide {
  background-color: white; /* colour of the slide */
}

div.slide h1, div.slide h2, div.slide h3, div.slide h4, div.slide h5, div.slide h6 {
  color: navy;
  font-weight: normal;
}

pre {
  font-size: 20px;
  font-family: Monaco, Courier, monospace;
}

li {
  padding: 10px 0;
}

/* .notes are displayed when you press '2' */
.notes {
  color: white;
  background: #777;
  opacity:0.90;
}

/* A title slide is a single header */
.slide header:only-child h1 {
  font-weight: bold;
  font-size: 80px;
}

/* Source and page number */
aside.source, aside.page_number {
  font-size: 20px;
}

/* Quote and blockquote */
blockquote          { text-indent: -1ex; margin-bottom: 10px;}
blockquote *        { quotes: none; }
blockquote p:before { content: '\201C'; }
blockquote p:after  { content: '\201D'; }
blockquote p        { margin:0; padding:0; }
blockquote q:before { content: '\2018'; }
blockquote q:after  { content: '\2019'; }
.cite { margin:0; text-align:right; margin-right: 40px;}

/***************************************************************************/
/* Specific clases set by the .fx: macro */
div.titleslide { text-align: center; }
div.titleslide h1 { padding-top: 140px; font-size: 80px; font-weight: bold;}

div.slides div.imageslide {margin: 0; width: 1024px; height: 768px;}
div.imageslide img { position: absolute; top: 0; left: 0; width: 1024px; z-index: 0; }
div.imageslide h1 { position: absolute; z-index: 3; left: 40px; top: 0; }

div.white h1 {color: white !important;}
div.black h1 {color: black !important;}

/***************************************************************************/
/* Syntax highlighting - Pygments default theme */
.lineno {color: #aaa; }                       /* Line numbers */      
.hll { background-color: #ffffcc }
.c   { color: #408080; font-style: italic }   /* Comment */
.err { border: 1px solid #FF0000 }            /* Error */
.k   { color: #008000; font-weight: bold }    /* Keyword */
.o   { color: #666666 }                       /* Operator */
.cm  { color: #408080; font-style: italic }   /* Comment.Multiline */
.cp  { color: #BC7A00 }                       /* Comment.Preproc */
.c1  { color: #408080; font-style: italic }   /* Comment.Single */
.cs  { color: #408080; font-style: italic }   /* Comment.Special */
.gd  { color: #A00000 }                       /* Generic.Deleted */
.ge  { font-style: italic }                   /* Generic.Emph */
.gr  { color: #FF0000 }                       /* Generic.Error */
.gh  { color: #000080; font-weight: bold }    /* Generic.Heading */
.gi  { color: #00A000 }                       /* Generic.Inserted */
.go  { color: #808080 }                       /* Generic.Output */
.gp  { color: #000080; font-weight: bold }    /* Generic.Prompt */
.gs  { font-weight: bold }                    /* Generic.Strong */
.gu  { color: #800080; font-weight: bold }    /* Generic.Subheading */
.gt  { color: #0040D0 }                       /* Generic.Traceback */
.kc  { color: #008000; font-weight: bold }    /* Keyword.Constant */
.kd  { color: #008000; font-weight: bold }    /* Keyword.Declaration */
.kn  { color: #008000; font-weight: bold }    /* Keyword.Namespace */
.kp  { color: #008000 }                       /* Keyword.Pseudo */
.kr  { color: #008000; font-weight: bold }    /* Keyword.Reserved */
.kt  { color: #B00040 }                       /* Keyword.Type */
.m   { color: #666666 }                       /* Literal.Number */
.s   { color: #BA2121 }                       /* Literal.String */
.na  { color: #7D9029 }                       /* Name.Attribute */
.nb  { color: #008000 }                       /* Name.Builtin */
.nc  { color: #0000FF; font-weight: bold }    /* Name.Class */
.no  { color: #880000 }                       /* Name.Constant */
.nd  { color: #AA22FF }                       /* Name.Decorator */
.ni  { color: #999999; font-weight: bold }    /* Name.Entity */
.ne  { color: #D2413A; font-weight: bold }    /* Name.Exception */
.nf  { color: #0000FF }                       /* Name.Function */
.nl  { color: #A0A000 }                       /* Name.Label */
.nn  { color: #0000FF; font-weight: bold }    /* Name.Namespace */
.nt  { color: #008000; font-weight: bold }    /* Name.Tag */
.nv  { color: #19177C }                       /* Name.Variable */
.ow  { color: #AA22FF; font-weight: bold }    /* Operator.Word */
.w   { color: #bbbbbb }                       /* Text.Whitespace */
.mf  { color: #666666 }                       /* Literal.Number.Float */
.mh  { color: #666666 }                       /* Literal.Number.Hex */
.mi  { color: #666666 }                       /* Literal.Number.Integer */
.mo  { color: #666666 }                       /* Literal.Number.Oct */
.sb  { color: #BA2121 }                       /* Literal.String.Backtick */
.sc  { color: #BA2121 }                       /* Literal.String.Char */
.sd  { color: #BA2121; font-style: italic }   /* Literal.String.Doc */
.s2  { color: #BA2121 }                       /* Literal.String.Double */
.se  { color: #BB6622; font-weight: bold }    /* Literal.String.Escape */
.sh  { color: #BA2121 }                       /* Literal.String.Heredoc */
.si  { color: #BB6688; font-weight: bold }    /* Literal.String.Interpol */
.sx  { color: #008000 }                       /* Literal.String.Other */
.sr  { color: #BB6688 }                       /* Literal.String.Regex */
.s1  { color: #BA2121 }                       /* Literal.String.Single */
.ss  { color: #19177C }                       /* Literal.String.Symbol */
.bp  { color: #008000 }                       /* Name.Builtin.Pseudo */
.vc  { color: #19177C }                       /* Name.Variable.Class */
.vg  { color: #19177C }                       /* Name.Variable.Global */
.vi  { color: #19177C }                       /* Name.Variable.Instance */
.il  { color: #666666 }                       /* Literal.Number.Integer.Long */


/***************************************************************************/
/* Slide transition */
.slide.past {
  opacity: 0;
}

.slide.current {
  opacity: 1;
  -webkit-transition: opacity 0.75s ease;
  -moz-transition: opacity 0.75s ease;
  -o-transition: opacity 0.75s ease;
}

.slide.future {
  opacity: 0;
}

/***************************************************************************/
/* The structure - You shouldn't need to change anything from here on down */
body {
  padding : 0;
  margin  : 0;
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

div.presentation {
  margin     : 0px auto;
  width      : 1024px;
  height     : 768px;
  position   : absolute;
  top        : 50%;
  left       : 50%;
  margin-left: -512px;
  margin-top : -384px;
}

div.slides {
  width      : 1024px;
  height     : 768px;
}

div.slide {
  display    : none;
  margin-left: 80px; /* Nice big margin */
  margin-top : 40px;
  width      : 864px;
  height     : 688px;
  position   : absolute;
  overflow   : hidden;
}

.slide.past, .slide.current, .slide.future {
  display: block;
}

/* A title slide is a single header */
.slide header:only-child h1 {
  height: 600px;
  line-height: 550px;
  text-align: center;
}

/* Image alignment options. Note that we align centre by default */
img { display: block; margin: auto; }

section img.align-center, section img.align-centre, section img.center, section img.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section img.align-right, section img.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

section img.align-left, section img.left {
  display: block;
  margin-right: auto;
  margin-left: 0;
}

/* Blank screen */
#blank {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 64;
  display: none;
}

/* Display notes (keyboard: 2) */
.notes {
  display   : none;
  padding   : 30px;
  color: white;
  position:absolute;
  width     : 862px;
  min-height: 300px;
  left: 51px;
  top: 123px;
  overflow  : hidden;
}

/* Source and page number */
aside {
  display: none;
}
aside.source {
  position: absolute;
  bottom: 6px;
  left: 0px;
}
aside.page_number {
  position: absolute;
  bottom: 6px;
  right: 0px;
}


/* Expose */
body.expose div.slides {
  float           : left;
  position        : relative;
  overflow        : auto;
  margin          : 10px;
  width           : 1024px;
  height          : 768px;
  background-color: #fff !important;
}

body.expose div.slide {
  display                 : block;
  width                   : 864px;
  height                  : 688px;  
  float                   : left;
  position                : relative;
  left                    : auto !important;
  top                     : auto !important;
  margin                  : 0 !important;
  margin-left             : 10px !important;
  margin-top              : 10px !important;
  padding                 : 0 !important;
  -webkit-transition      : none;
  -moz-transition         : none;
  -o-transition           : none;  
  -moz-transform          : scale(.30, .30);
  -moz-transform-origin   : 0 0;
  -webkit-transform       : scale(.30, .30);
  -webkit-transform-origin: 0 0;
  -o-transform            : scale(.30, .30);
  -o-transform-origin     : 0 0;
  cursor                  : pointer;
  border                  : 10px solid #fff;
  background-color        : #eee;
}

body.expose div.slide:hover {
  background-color: #D7FCFC;
}

body.expose .slide-wrapper {
  float   : left;
  position: relative;
  overflow: hidden;
  margin  : .5%;
  width   : 300px;
  height  : 233px;
}

body.expose .slide.far-past,
body.expose .slide.past,
body.expose .slide.future,
body.expose .slide.far-future {
  margin-left: 0;
  opacity: 1;
}

body.expose .slide.current {
  background-color: #fcfcd7;
  border: 10px solid #ddb;
  -moz-transform: scale(.30, .30);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.30, .30);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.30, .30);
  -o-transform-origin: 0 0;
}

body.expose .slide aside {
  display: block;
}
body.expose .slide aside.source {
  display: none;
}
body.expose .slide aside.page_number {
  display         : block;
  position        : absolute;
  bottom          : 10px;
  right           : 10px;
  font-size       : 40px;
  background-color: #eee;
  padding: 10px;
}
body.expose .slide.current aside.page_number {
  background-color: #FCFCD7;
}
body.expose .slide:hover aside.page_number {
  background-color: #D7FCFC;
}

/* Sidebar for ToC and Help */
.sidebar {
  background-color: #eee;
  border-right: 5px solid #ddd;
  z-index: 63;
  height: 100%;
  overflow: hidden;
  top: 0;
  position: absolute;
  display: block;
  margin: 0;
  margin-left: -500px;
  padding: 10px 16px;
  overflow: auto;
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
  font-size: 14px;
}

.sidebar h2 {
  margin: 0 0 16px;
  padding: 0;
}

.sidebar table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.sidebar table caption {
  display: none;
}

.sidebar tr {
  margin: 2px 0;
  border-bottom: 1px solid #ccc;
}

.sidebar th {
  text-align: left;
  font-weight: normal;
  max-width: 300px;
  overflow: hidden;
}

.sidebar tr.sub th {
  text-indent: 20px;
}

.sidebar td {
  text-align: right;
  min-width: 20px;
}

.sidebar a {
  color: #000;
  display: block;
  text-decoration: none;
  border-bottom: none;
  padding: 4px 0;
}

.sidebar tr.active, .sidebar tr.active:hover, .sidebar tr.active a {
  background: white;
}

.sidebar tr:hover {
  background: #ccc;
}

/* Presenter Mode */
body.presenter_view, body.presenter_view div.presentation {
  background-color: #333 !important;
}
body.presenter_view div.slides {
  margin-left: -40px;
  margin-top : -30px;
}

body.presenter_view div.slide {
  display: inline;
  position: absolute;
  overflow: hidden;
  -moz-transform: scale(.45, .45);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.45, .45);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.45, .45);
  -o-transform-origin: 0 0;
  opacity: 1;
}

body.presenter_view .slide.far-past {
  display: none;
}

body.presenter_view .slide.past {
  display: none;
}

body.presenter_view .slide.current {
  display: block;
  border: 8px solid maroon;
  z-index: 2;
}

body.presenter_view .slide.future {
  display: block;
  margin-left: 500px;
  z-index: 1;
  opacity: 1;
  border: 8px solid #aaa;
  -moz-transform: scale(.4, .4);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(.4, .4);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(.4, .4);
  -o-transform-origin: 0 0;

}

body.presenter_view .slide.far-future {
  display: none;
  margin-left: 525px;
}

body.presenter_view div#current_presenter_notes {
  visibility: visible;
  display: block;
  position: absolute;
  overflow: auto;
  vertical-align: middle;
  left: 0;
  top: 45%;
  height: 52%;
  margin-left: 40px;
  z-index: 2;
  width: 944px;
  border: 4px solid #aaa;
  background-color: #fff;
}

/* Time display */
#time { display: none; }
body.presenter_view #time {
  display: block;
  color: white;
  float:right;
  width: 150px;
  text-align: right;
  margin-right: 40px;
  margin-top: 25px;
  padding: 0;
  line-height: 0;
}

body.presenter_view div#current_presenter_notes header {
  /*display: none;*/
}

body.presenter_view div#current_presenter_notes section {
  font-family: "Helvetica", "Arial", "Liberation Sans", sans-serif;
  font-size: 20px;
  color: black;
  display: block;
  overflow: visible;
  position: relative;
  background-color: #fffeff;
  margin: 0;
  padding: 10px;
/*  border: 3px solid blue;*/

}

body.presenter_view div#current_presenter_notes section p {
  margin: 0;
}

body.presenter_view div#current_presenter_notes section li {
  font-size: inherit;
  padding: 0;
}

body.presenter_view div#current_presenter_notes h1 {
  margin-left: 10px;
  font-size: 20px;
  display: block;

}

div#current_presenter_notes {
  display: none;
}

div.slide div.presenter_notes {
  display: none;
}

