/***************************************************************************/
/* A custom CSS to provide a black background */

body.presenter_view div.slide {
  display: inline;
  position: absolute;
  overflow: hidden;
  -moz-transform: scale(0.55, 0.55);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.55, 0.55);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.55, 0.55);
  -o-transform-origin: 0 0;
  opacity: 1;
  width: 864px !important;
  height: 688px !important;
  margin-left: 60px !important;
  margin-top: 150px !important;

}
body.presenter_view .slide.future {
  display: block;
  margin-left: 560px !important;
  z-index: 1;
  opacity: 1;
  margin-top: 150px !important;
  border: 8px solid #aaa;
  -moz-transform: scale(0.55, 0.55);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.55, 0.55);
  -webkit-transform-origin: 0 0;
  -o-transform: scale(0.55, 0.55);
  -o-transform-origin: 0 0;

}

body.presenter_view div#current_presenter_notes {
  visibility: hidden;
  display: none;
}


body.presenter_view .slide aside.page_number {
  display         : block;
  position        : absolute;
  bottom          : 10px;
  right           : 10px;
  font-size       : 100px;
  background-color: #eee;
  color           : black;
  padding         : 10px;
}

body.presenter_view .slide.current aside.page_number {
  background-color: maroon;
  color: white;
}


/* Time display */
body.presenter_view #time {
  display: block;
  color: white;
  float:right;
  width: 100%;
  text-align: right;
  margin-right: 30px;
  margin-top: 50px;
  padding: 0;
  line-height: 0;
  font-size: 90px;
}
