body {
  padding    : 50px;
  font       : 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color      : #777;
  margin     : 0 auto;
  max-width  : 500px;
}

h1, h2, h3, h4, h5, h6 {
  margin       : 0;
  margin-bottom: 5px;
  line-height  : 1.1;
  font-family  : "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  color        :#333;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}
