[landslide]
source      = example.md
destination = ./example.html

; directory where the theme is defined (not repository root)
theme       = ../avalanche

; include syntax highlighting css, then presentation-specific css
css         = ../custom_css/pygments/default.css
              custom.css

; embed JS & CSS into output file for standalone html output
embed       = True

; no line numbers in code view
linenos     = no
